{% include "baseC.html.twig" %}
<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<link rel="apple-touch-icon" sizes="76x76" href="frontend/usertemplate/assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="frontend/usertemplate/assets/img/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>User</title>
		<meta
		content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
		<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
		<!-- CSS Files -->
		<link href="frontend/usertemplate/assets/css/bootstrap.min.css" rel="stylesheet"/>
		<link
		href="frontend/usertemplate/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet"/>
		<!-- CSS Just for demo purpose, don't include it in your project -->
		<link href="frontend/usertemplate/assets/demo/demo.css" rel="stylesheet"/>
	</head>

	<body>
		<style>
			.test {
				margin: 5%;
			}
		</style>
		<div class="test">
			<div class="content">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-user">
							<div class="image">
								<img src="frontend/usertemplate/assets/img/damir-bosnjak.jpg" alt="...">
							</div>
							<div class="card-body">
								<div class="author">
									<a href="#">


										{% if client.image == null %}
											<img class="avatar border-gray" src="../front-end/inscriptionn/images/icon-2.png" alt="...">
										{% else %}
											<img class="avatar border-gray" src=" {{client.image}}" alt="...">
										{% endif %}

										<h5 class="title">{{client.name}}
											{{client.prenom}}</h5>
									</a>
									<p class="description">
										{{client.bio}}
									</p>
								</div>
								<p class="description text-center">
									{{client.telephone}}
									<br>
									{{client.email}}
								</p>
							</div>
							<div class="card-footer"></div>
						</div>

					</div>
					<div class="col-md-8">
						<div class="card card-user">
							<div class="card-header">
								<h5 class="card-title">Modifier Profile</h5>
							</div>
							<div class="card-body">
								<form method="Post" action="{{path('edituser')}}">

									<div class="row">
										<div class="col-md-6 pr-1">
											<div class="form-group">
												<label>Prenom</label>
												<input type="text" name="prenom" class="form-control" placeholder="{{client.prenom}}" value="{{client.prenom}}">
											</div>
										</div>
										<div class="col-md-6 pl-1">
											<div class="form-group">
												<label>Nom</label>
												<input type="text" name="name" class="form-control" placeholder="{{client.name}}" value="{{client.name}}">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Email
												</label>
												<input type="email" name="email" class="form-control" placeholder="Vous ne pouvez pas changer votre adresse email !!!" disabled="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 pr-1">
											<div class="form-group">
												<label>Mot de Passe</label>
												<input type="password" name="password" class="form-control">
											</div>
										</div>

										<div class="col-md-6 pl-1">
											<div class="form-group">
												<label>Numero telephone
												</label>
												<input type="number" name="telephone" class="form-control" placeholder="{{client.telephone}}" value="{{client.telephone}}">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="update ml-auto mr-auto">
											<button type="submit" class="btn btn-primary btn-round">Modifier Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<table class="table table-hover">
					<div style="background-color:#58E1E4; margin-top:5%; width:30%; color:white; height:20%; text-align:center;">
						<div style="padding:2%;">Liste des formations</div>

						<thead>
							<tr>

								<td>
									<strong>Titre</strong>
								</td>
								<td>
									<strong>Date debut</strong>
								</td>
								<td>
									<strong>Date fin</strong>
								</td>
								<td>
									<strong>Description</strong>
								</td>
								<td>
									<strong>Supprimer</strong>
								</td>

							</tr>
						</thead>
						<tbody>
							{% set count = 0 %}
							{% for formation in client.getIdFormation() %}
								<tr>
									<td>{{ formation.societe }}
									</td>
									<td>
										{{ formation.getDateDebut()|date("m/d/Y") }}
									</td>
									<td>
										{{ formation.getDateFin()|date("m/d/Y") }}
									</td>
									<td>{{ formation.description }}
									</td>


									<td>
										<a href="{{path('deleteForm', {'id':formation.id})}}" onclick="return confirm('Vous vouller vraiment supprimer cette formation');">
											<button class="btn btn btn-outline-danger" style="">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
													<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
												Supprimer
											</button>
										</a>

									</td>
									{% set count = count + 1 %}
								</tr>
							{% endfor %}

						</tbody>

					</table>


					<table class="table table-hover">
						<div style="background-color:#58E1E4; margin-top:5%; width:30%; color:white; height:20%; text-align:center;">
							<div style="padding:2%;">Liste des Experiences</div>

							<thead>
								<tr>

									<td>
										<strong>Titre</strong>
									</td>
									<td>
										<strong>Date debut</strong>
									</td>
									<td>
										<strong>Date fin</strong>
									</td>
									<td>
										<strong>Description</strong>
									</td>
									<td>
										<strong>Supprimer</strong>
									</td>

								</tr>
							</thead>
							<tbody>
								{% set count = 0 %}
								{% for experience in client.getIdExperience() %}
									<tr>
										<td>{{ experience.societe }}
										</td>
										<td>
											{{ experience.getDateDebut()|date("m/d/Y") }}
										</td>
										<td>
											{{ experience.getDateFin()|date("m/d/Y") }}
										</td>
										<td>{{ experience.description }}
										</td>


										<td>
											<a href="{{path('deleteEx', {'id':experience.id})}}" onclick="return confirm('Vous vouller vraiment supprimer cette experience');">
												<button class="btn btn btn-outline-danger" style="">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
														<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
														<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
													</svg>
													Supprimer
												</button>
											</a>

										</td>
										{% set count = count + 1 %}
									</tr>
								{% endfor %}

							</tbody>

						</table>

						<table class="table table-hover">
							<div style="background-color:#58E1E4; margin-top:5%; width:30%; color:white; height:20%; text-align:center;">
								<div style="padding:2%;">Liste des competences</div>

								<thead>
									<tr>

										<td>
											<strong>Titre</strong>
										</td>
										<td>
											<strong>Supprimer</strong>
										</td>


									</tr>
								</thead>
								<tbody>
									{% for competence in client.getIdCompetence() %}
										<tr>
											<td>{{ competence.titre }}
											</td>

											<td>
												<a href="{{path('deleteComp', {'id':competence.id})}}" onclick="return confirm('Vous vouller vraiment supprimer cette competence');">
													<button class="btn btn btn-outline-danger" style="">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
															<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
															<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
														</svg>
														Supprimer
													</button>
												</a>

											</td>
										</tr>
									{% endfor %}

								</tbody>

							</table>


							<table class="table table-hover">
								<div style="background-color:#58E1E4; margin-top:5%; width:30%; color:white; height:20%; text-align:center;">
									<div style="padding:2%;">Liste des loisirs</div>

									<thead>
										<tr>

											<td>
												<strong>Titre</strong>
											</td>
											<td>
												<strong>Supprimer</strong>
											</td>


										</tr>
									</thead>
									<tbody>
										{% for loisir in client.getIdLoisir() %}
											<tr>
												<td>{{ loisir.titre }}
												</td>

												<td>
													<a href="{{path('deleteLoi', {'id':loisir.id})}}" onclick="return confirm('Vous vouller vraiment supprimer cette loisir');">
														<button class="btn btn btn-outline-danger" style="">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
																<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
																<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
															</svg>
															Supprimer
														</button>

													</a>

												</td>
											</tr>
										{% endfor %}

									</tbody>

								</table>


							</div>
						</div>
						<!--   Core JS Files   -->
						<script src="frontend/usertemplate/assets/js/core/jquery.min.js"></script>
						<script src="frontend/usertemplate/assets/js/core/popper.min.js"></script>
						<script src="frontend/usertemplate/assets/js/core/bootstrap.min.js"></script>
						<script src="frontend/usertemplate/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
						<!--  Google Maps Plugin    -->
						<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
						<!-- Chart JS -->
						<script src="frontend/usertemplate/assets/js/plugins/chartjs.min.js"></script>
						<!--  Notifications Plugin    -->
						<script src="frontend/usertemplate/assets/js/plugins/bootstrap-notify.js"></script>
						<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
						<script src="frontend/usertemplate/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
						<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
						<script src="frontend/usertemplate/assets/demo/demo.js"></script>
					</body>

				</html>
